<ion-header>
  <ion-toolbar>
    <ion-title>Perfil de Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h2>Información del Usuario</h2>
    <p><strong>Nombre:</strong> {{ nombre }}</p>
    <p><strong>Correo Electrónico:</strong> {{ email }}</p>

    <!-- Foto de perfil -->
    <img *ngIf="fotoUrl" [src]="fotoUrl" alt="Foto de perfil" style="width: 100px; height: 100px; border-radius: 50%;">

    <!-- Botón de Logout -->
    <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button>
  </div>
</ion-content>
