<ion-header>
  <ion-toolbar>
    <ion-title>
      <img src="assets/img/logo/logo_color.png" alt="logo" width="40px" style="padding-right: 4px;">
      Recuperar Contraseña
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form class="mt-4">
      <!-- Campo de correo electrónico -->
      <ion-item>
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input 
          type="email" 
          [(ngModel)]="email" 
          name="email" 
          required>
        </ion-input>
      </ion-item>
    </form>

    <!-- Botón para enviar correo -->
    <ion-button 
    class="mt-2"
      expand="block" 
      color="primary" 
      (click)="sendPasswordReset()">
      Recuperar Contraseña
    </ion-button>

    <ion-button ion-button expand="block" color="success" [routerLink]="['/login']" class="mt-4 ">Iniciar Sesión</ion-button>
  </div>
</ion-content>
