<ion-header>
  <ion-toolbar><br>
    <ion-title>
    <img src="assets/img/logo/logo_color.png" alt="logo" width="40px" style="padding-right: 4px;">
    Recuperar Contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons><br>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <br><br>
    <form id="forgot-password-form m-3">
      <div class="form-floating mb-3">
        <input type="Usuario" class="form-control rounded-3" id="usuario_login" name="usuario_login"
          placeholder="Nombre de Usuario" required>
        <label for="usuario_login">Usuario</label>
        <small class="text-danger" id="error_usuario"></small>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control rounded-3" id="email" name="email" placeholder="Email" required>
        <label for="email">Correo Electronico</label>
        <small class="text-danger" id="error_email"></small>
      </div>
    </form>

    <ion-button ion-button expand="block" color="success" [routerLink]="['/login']" class="mb-2">Recuperar
      Contraseña</ion-button>

    <br>

  </div>


</ion-content>