<ion-header>
  <ion-toolbar>
    <ion-title>
      <img [routerLink]="['/home']" src="assets/img/logo/logo_color.png" alt="logo" width="50px" style="padding-right: 4px;"> Direcciones
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
        <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon [routerLink]="['/profile']" color="light" name="person-circle-outline" width="50px"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Mapa -->
  <div class="map-container m-3 " style="height: 200px; width: 100%;" id="map"></div>
  
  <h2>Ingresa Dirección</h2>
  <input id="autocomplete" type="text" placeholder="Escribe una dirección" />
  
  <ion-item>
    <ion-label position="stacked">Alias</ion-label>
    <ion-input [(ngModel)]="alias" placeholder="Ejemplo: Casa, Trabajo"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Nombre de contacto</ion-label>
    <ion-input [(ngModel)]="nombreContacto"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Teléfono</ion-label>
    <ion-input [(ngModel)]="telefono" type="tel"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="agregarDireccion()">Guardar Dirección</ion-button>

  <!-- Lista de direcciones -->
  <ion-list>
    <h2> Direcciones Guardadas</h2>
    <ion-item *ngFor="let dir of direcciones">
      <ion-label>
        <h1>{{ dir.alias }}</h1>
        <p>Direccion: {{ dir.direccion }}</p>
        <p> Contacto: {{ dir.nombreContacto }} -  Telefono: {{ dir.telefono }}</p>
      </ion-label>
      <ion-button color="danger" (click)="eliminarDireccion(dir.id ? dir.id : '')">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
