<!-- login.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>
      <img [routerLink]="['/home']" src="assets/img/logo/logo_color.png" alt="logo" width="50px" style="padding-right: 4px;"> Perfil de Usuario
      Iniciar sesión
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <form id="login_form">
      <div class="form-floating mt-5 mb-3">
        <input type="text" class="form-control rounded-3" [(ngModel)]="usuario_login" name="usuario_login"
               placeholder="Correo electronico" required>
        <label for="usuario_login">Correo electronico</label>
        <small class="text-danger" *ngIf="error_message">{{ error_message }}</small>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control rounded-3" [(ngModel)]="password_login" name="password_login"
               placeholder="Password" required>
        <label for="password_login">Contraseña</label>
        <small class="text-danger">{{ error_message }}</small>
      </div>
    </form>
    <a class="text-center" [routerLink]="['/forgot-password']"><h6 class="text-center">¿Olvidaste tu Contraseña?</h6></a>
    <ion-button (click)="iniciarSeccion()" expand="block" color="success" class="mb-2">Iniciar Sección</ion-button>
    <ion-button expand="block" color="secondary" [routerLink]="['/register']" class="mb-2">Registrarse</ion-button>
  </div>
</ion-content>
