<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <img [routerLink]="['/home']" src="assets/img/logo/logo_color.png" alt="logo" width="50px"
          style="padding-right: 4px;"> Carrito de Compras

        Gardenia</ion-title>
      <ion-buttons slot="end">
        <ion-button [routerLink]="['/cart']">
          <ion-icon class=".tool-icon" name="cart-outline"></ion-icon>
          <ion-badge *ngIf="cartItemCount > 0">{{ cartItemCount }}</ion-badge>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <!-- Herramientas -->
      <ion-item button [routerLink]="['/herramientas']" >
        <ion-icon name="construct-outline" slot="start"></ion-icon>
        <ion-menu-toggle auto-hide="false">
          
          <ion-item button [routerLink]="['/productos', 'Herramientas', 'Tijeras']">
            <ion-label>Tijeras</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Herramientas', 'Palas']">
            <ion-label>Palas</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Herramientas', 'Otras Herramientas']">
            <ion-label>Otras Herramientas</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-item>

      <!-- Plantas y Semillas -->
      <ion-item button [routerLink]="['/plantas']">
        <ion-icon name="leaf-outline" slot="start"></ion-icon>
        <ion-menu-toggle auto-hide="false">
         
          <ion-item button [routerLink]=" ['/productos', 'Plantas', 'Flores']">
            <ion-label>Flores</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Plantas', 'Plantas y Arboles']">
            <ion-label>Plantas y Árboles</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Plantas', 'Huerto']">
            <ion-label>Huerto</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-item>

      <!-- Insumos -->
      <ion-item  button [routerLink]="['/insumos']">
        <ion-icon name="flask-outline" slot="start"></ion-icon>
        <ion-menu-toggle auto-hide="false">
 
          <ion-item button [routerLink]="['/productos', 'Insumos', 'Tierra']">
            <ion-label>Tierra</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Insumos', 'Fertilizantes']">
            <ion-label>Fertilizantes</ion-label>
          </ion-item>
          <ion-item button [routerLink]="['/productos', 'Insumos', 'Otros Insumos']">
            <ion-label>Otros Insumos</ion-label>
          </ion-item>

        </ion-menu-toggle>
      </ion-item>

      <!-- All Products -->
      <ion-item button [routerLink]="['/all-productos']">
        <ion-icon name="pricetag-outline" slot="start"></ion-icon>
        <ion-menu-toggle auto-hide="false">
          <ion-label>Ver todos los productos</ion-label>

        </ion-menu-toggle>
      </ion-item>
      <!-- Carrito de Compras-->

      <ion-item button [routerLink]="['/cart']">
        <ion-icon name="cart-outline" slot="start"></ion-icon>
        <ion-menu-toggle auto-hide="false">

          <ion-label>Ir al Carrito de Compras</ion-label>

        </ion-menu-toggle></ion-item>


    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main content -->
<ion-router-outlet id="main-content"></ion-router-outlet>

<!-- Main content -->
<ion-router-outlet id="main-content"></ion-router-outlet>