@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Dancing+Script:wght@700&family=MuseoModerno:ital,wght@1,800&display=swap');

$color-primary: #FFA500;
$color-secondary: #FFD700;
$color-tertiary: #32CD32;
$color-red: #aa2929f0;
$color-dark: #333333;
$color-light: #FFFFFF;
$color-black: #000000;

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: xx-large;
  font-weight: 700;
  font-style: normal;
}

.comfortaa-font {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
ion-content {
    --background: #FFFFFF;
}
ion-toolbar {
    --background: #333333;
    height: 100%;
   
}



ion-icon {
    font-size: 1.5rem;
    color: $color-primary;
    width: 40px;
    height: 40px;
    margin-left:10px ;
}

ion-back-button{
    color:$color-light;
}

ion-title {
    color: $color-light;
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-size: 1.2rem;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 3;

}
.item-image {
    width: 80%;
    
    object-fit: cover;
    border-radius: 8px;
  }
  
  ion-item {
    padding: 10px 0;
  }
  
  ion-row {
    margin-bottom: 10px;
  }
  
  ion-col {
    padding: 5px;
  }
  
  ion-button {
    margin: 5px;
  }
  
  h2 {
    font-size: 1.2rem;
    font-family: "Comfortaa", sans-serif;
    color: $color-primary;
    font-weight: bold;
  }
  
  h4 {
    font-size: 1.1rem;
    font-family: "Comfortaa", sans-serif;
    color: $color-dark;
  }
  h6 {

    font-family: "Comfortaa", sans-serif;
    color: $color-tertiary;
    font-size: 1.1rem;
  }
  p {
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    color: $color-dark;
  }
  
  ion-button {
    font-family: "Comfortaa", sans-serif;
    font-size: 1rem;
    font-weight: 700;
  }
  