<ion-header>
  <ion-toolbar><br>
    <ion-title>
      <img src="assets/img/logo/logo_color.png" alt="logo" width="50px" style="padding-right: 4px;">
      Registro
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons><br>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <div class="py-5 text-center">
      <h2>Formulario de Registro</h2>
    </div>

    <form id="formulario_registro" (submit)="registrarUsuario()">
      <div>
        <label for="usuario" class="form-label">Usuario</label>
        <input type="text" [(ngModel)]="usuario" name="usuario" required class="form-control">
        <small class="text-danger" *ngIf="error_message">{{ error_message }}</small>
      </div>
      <div>
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="nombre" name="nombre" required class="form-control">
      </div>
      <div>
        <label for="apellido" class="form-label">Apellido</label>
        <input type="text" [(ngModel)]="apellido" name="apellido" required class="form-control">
      </div>
      <div>
        <label for="email" class="form-label">Correo Electronico</label>
        <input type="email" [(ngModel)]="email" name="email" required class="form-control">
      </div>
      <div>
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" [(ngModel)]="password" name="password" required class="form-control">
      </div>
      <div>
        <label for="confirmPassword" class="form-label">Confirmar contraseña</label>
        <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control">
      </div>
      <ion-button expand="block" type="submit" color="success" class="mb-2">Registrarse</ion-button>
    </form>
  </div>
</ion-content>
