<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/img/logo/logo_color.png" alt="logo" width="50px" style="padding-right: 4px;">
      {{ categoriaNombre }} - {{ subcategoriaNombre }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" color="light" class="ion-icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="productos-container">
    <h3> {{ categoriaNombre }} - {{ subcategoriaNombre }}</h3>
    <ion-grid>
      <ng-container *ngIf="productos$ | async as productos; else noProductos">
      <ion-row *ngIf="productos.length > 0; else noProductos"  class="justify-content-center">
        <ion-col size="8"  *ngFor="let producto of productos">
          <ion-card [routerLink]="['/producto-detalle', producto.id]" class="producto-card">
            <img [src]="producto.img" [alt]="producto.nombre" />
            <ion-card-header>
              <ion-card-title>{{ producto.nombre }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <h4>Precio: ${{ producto.precio }}</h4>
              <p  >Stock: {{ producto.stock }} unidades</p>
              <p class="descripcion">{{ producto.descripcion }}</p>
              <ion-button *ngIf="producto.stock > 0" expand="full" color="secondary" (click)="addToCart(producto)"  class="añadir-btn">
                Añadir al Carrito
              </ion-button>
              <ion-button *ngIf="producto.stock === 0" expand="full" color="medium" disabled class="agotado-btn">
                Agotado
              </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
    </ion-grid>

    

    <ng-template #noProductos>
      <ion-row class="justify-content-center">
        <ion-col size="12" class="text-center">
          No hay productos disponibles.
        </ion-col>
      </ion-row>
    </ng-template>
  </div>
</ion-content>
