<ion-header>
  <ion-toolbar>
    <ion-title>Todos los Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let producto of productos">
        <ion-card [routerLink]="['/producto-detalle', producto.id]" class="producto-card">
          <img [src]="producto.img" [alt]="producto.nombre" />
          <ion-card-header>
            <ion-card-title>{{ producto.nombre }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h4>Precio: ${{ producto.precio }}</h4>
            <p>Stock: {{ producto.stock }} unidades</p>
            <p class="descripcion">{{ producto.descripcion }}</p>
            <ion-button *ngIf="producto.stock > 0" expand="full" color="secondary" class="añadir-btn">
              Añadir al Carrito
            </ion-button>
            <ion-button *ngIf="producto.stock === 0" expand="full" color="medium" disabled class="agotado-btn">
              Agotado
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #noProductos>
    <p>No hay productos disponibles.</p>
  </ng-template>
</ion-content>
